<app-header titulo="Pagar" back="_ion-back-blanco" clase="header_color_verde">
</app-header>
<ion-content padding>
    <app-registro-datos-bancarios (metodoRB)="getEvento($event);"></app-registro-datos-bancarios>
</ion-content>