.ion-item_1 {
    --background: #f8baa3;
    --color: white;
    --border-radius: 30px;
    margin-bottom: 10px;
}

.ion-item_2 {
    --background: #94b85c;
    --color: white;
    --border-radius: 30px;
    margin-bottom: 10px;
}

.ion-item_3 {
    --background: #f08a73;
    --color: white;
    --border-radius: 30px;
    margin-bottom: 10px;
}