<app-header titulo="Perfil" back="_ion-back-blanco" clase="header_color_verde">

</app-header>

<ion-content padding>
    <form [formGroup]="formulario" (ngSubmit)="edit();">
        <ion-list>
            <ion-item>
                <ion-label position="floating">Nombre</ion-label>
                <ion-input type="text" type="text" formControlName="persona_nombre"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Apellido</ion-label>
                <ion-input formControlName="persona_apellido"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Teléfono</ion-label>
                <ion-input formControlName="persona_telefono"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Correo</ion-label>
                <ion-input type="email" formControlName="persona_correo"></ion-input>
            </ion-item>

        </ion-list>
        <ion-button type="submit" shape="round" expand="full">
            Registrar
        </ion-button>
    </form>
</ion-content>