 ion-img {
     width: 180px;
     height: auto;
     text-align: center;
 }
 
 ion-content {
     --background: url('../../assets/img/fondo_login2.png') no-repeat 100% 100%;
 }
 
 ion-input {
     --background: white;
 }
 
 .ion-button_1ion-button_1 {
     --color: white;
     --color-focused: #5e2458;
     --background-hover: #5e2458;
 }
 
 .ion-button_1ion-button_2 {
     --color: white;
     --background: #5e2458;
 }