<app-header titulo="Pedidos" back="_ion-back-blanco" clase="header_color_rosado">

</app-header>
<ion-content>
    <ion-title padding>Seleccionar topping</ion-title>
    <ion-content padding>
        <ion-grid fixed>
            <ion-row size="12">

                <ion-col *ngFor="let item of listaTopping;let i= index" size="6">
                    <ion-card [id]="item.topping_id" (click)="stilos(item);" button>
                        <ion-img [src]="item.topping_url"></ion-img>

                        <ion-card-subtitle class="ion-text-center">{{item.topping_nombre}}</ion-card-subtitle>
                    </ion-card>
                </ion-col>

            </ion-row>
        </ion-grid>

        <div padding class="ion-text-center">
            <ion-label> <b>{{ strPrecio | currency:'PEN':'symbol':'.2-2':'PE' }}</b> </ion-label>
        </div>

        <ion-button (click)=" regFrutas()" shape="round" expand="full">
            Agregar
        </ion-button>
        <ion-button (click)="omitir()" shape="round" expand="full">
            Omitir
        </ion-button>
    </ion-content>