 ._ion-base {
     --background: rgba(174, 45, 101, 1) !important;
     --background: -moz-linear-gradient(top, rgba(174, 45, 101, 1) 0%, rgba(105, 31, 94, 1) 36%, rgba(105, 31, 94, 1) 100%) !important;
     --background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(174, 45, 101, 1)), color-stop(36%, rgba(105, 31, 94, 1)), color-stop(100%, rgba(105, 31, 94, 1)))!important;
     --background: -webkit-linear-gradient(top, rgba(174, 45, 101, 1) 0%, rgba(105, 31, 94, 1) 36%, rgba(105, 31, 94, 1) 100%)!important;
     --background: -o-linear-gradient(top, rgba(174, 45, 101, 1) 0%, rgba(105, 31, 94, 1) 36%, rgba(105, 31, 94, 1) 100%)!important;
     --background: -ms-linear-gradient(top, rgba(174, 45, 101, 1) 0%, rgba(105, 31, 94, 1) 36%, rgba(105, 31, 94, 1) 100%);
     --background: linear-gradient(to bottom, rgba(174, 45, 101, 1) 0%, rgba(105, 31, 94, 1) 36%, rgba(105, 31, 94, 1) 100%)!important;
     filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ae2d65', endColorstr='#691f5e', GradientType=0);
 }
 
 ._ion-title {
     --color: #fff;
     text-align: center;
 }
 
 ._ion-back-blanco {
     --color: #fff;
 }
 
 ._ion-back-negro {
     --color: black;
 }
 
 .header_color_rosado {
     --background: #ef7f73 !important;
 }
 
 .header_color_verde {
     --background: #94b85c!important;
 }