<ion-content padding>

    <div style="margin-top: 80px;">
        <ion-grid fixed>
            <ion-row>
                <ion-col>
                    <ion-img src="assets/img/logo_login.png"></ion-img>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <ion-label color="light" class="ion-text-center">
        <h1> <b><h1>{{texto}} </h1> </b> </h1>
    </ion-label>
    <ion-grid fixed>
        <ion-row class="ion-text-center">
            <ion-col *ngIf="flag" size="12">
                <i class="fa fa-spinner fa-spin fa-3x"></i>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-button class="animated fadeIn" *ngIf="button_flag" (click)=" view()" shape="round" expand="full">
        Regresar
    </ion-button>



</ion-content>