<ion-title padding>
    Datos bancarios</ion-title>
<form [formGroup]="formulario" (ngSubmit)="getInvoque();">
    <ion-input type="hidden" formControlName="medios_pago_id"></ion-input>
    <ion-list>
        <ion-item>
            <ion-label>Tipo de documento</ion-label>
            <ion-select formControlName="documento_id" okText="Aceptar" cancelText="Cancelar">
                <ion-select-option [value]="item.tipo_documento_id" *ngFor="let item of  lista_tipo_documento">
                    {{item.td_desc_corta }}
                </ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Número</ion-label>
            <ion-input formControlName="persona_documento" clearInput></ion-input>
        </ion-item>

        <ion-grid fixed>
            <ion-row>
                <ion-col>
                    <ion-slides [options]="opt">
                        <ion-slide *ngFor="let item of lista_tipo_pago">
                            <ion-card button (click)="selecconar_pago(item.medios_pago_id);">
                                <img [id]="item.medios_pago_id + '_pago'" [src]="item.mp_url_icon">
                            </ion-card>
                        </ion-slide>
                    </ion-slides>
                </ion-col>
            </ion-row>
        </ion-grid>



    </ion-list>
    <div class="ion-text-center">
        <ion-label style="font-size: 12px; color: #8f89b3;">Una vez realizado el pago, el saldo no se actualiza inmediatamente
        </ion-label>

    </div>

    <ion-list>
        <ion-item>
            <ion-label style="color: #8f89b3;"> <b>Acepto términos y condiciones</b> </ion-label>
            <ion-checkbox mode="ios" slot="start" formControlName="terminos_condiciones"></ion-checkbox>
        </ion-item>
    </ion-list>

    <ion-button padding type="submit" shape="round" expand="full">
        Confirmar
    </ion-button>
</form>