<app-header titulo="Pagar" back="_ion-back-blanco" clase="header_color_verde">
</app-header>

<ion-content class="ion-padding">
    <app-pasarela-component (output)="obtenerDatos($event)"></app-pasarela-component>
</ion-content>