<ion-content padding>
    <div style="margin-top: 80px;">
        <ion-grid fixed>
            <ion-row>
                <ion-col offset="2">
                    <ion-img style="width: 200px" src="assets/img/logo_rita_recomendar.png"></ion-img>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

    <form [formGroup]="formulario" (ngSubmit)="resetPassword()">
        <ion-list>
            <ion-item>
                <ion-label position="floating">Email</ion-label>
                <ion-input type="text" type="text" formControlName="email"></ion-input>
            </ion-item>

        </ion-list>

        <ion-button type="submit" class="ion-button_2" shape="round" expand="full">
            Registrar
        </ion-button>
        <ion-button (click)="view()" class="ion-button_1" shape="round" expand="full">
            Regresar
        </ion-button>
    </form>



</ion-content>