<app-header titulo="Registrar" back="_ion-back-blanco" clase="header_color_verde">
</app-header>
<ion-content padding>
    <div style="margin-top: 30px;">
        <ion-grid fixed>
            <ion-row>
                <ion-col offset="2">
                    <ion-img style="width: 200px" src="assets/img/logo_rita_recomendar.png"></ion-img>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>


    <form [formGroup]="formulario" (ngSubmit)="crear();">

        <ion-list>
            <ion-item>
                <ion-label position="floating">Nombre</ion-label>
                <ion-input type="text" type="text" formControlName="persona_nombre"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Apellido</ion-label>
                <ion-input formControlName="persona_apellido"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Teléfono</ion-label>
                <ion-input formControlName="persona_telefono"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Correo</ion-label>
                <ion-input type="email" formControlName="persona_correo"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Contraseña</ion-label>
                <ion-input type="password" formControlName="password_usuario"></ion-input>
            </ion-item>
        </ion-list>
        <ion-button class="ion-button_2" type="submit" shape="round" expand="full">
            Registrar
        </ion-button>

        <ion-button class="ion-button_1" (click)="view()" shape="round" expand="full">
            Regresar
        </ion-button>
    </form>

</ion-content>